body {
    padding: 10px;
    background-color: white;
    color: black;
}
.dark-mode {
    
    background-color: rgb(16, 16, 16);
    color:gainsboro;
    a {
        color:lightskyblue;
    }
    .dropdown-menu {
        background-color:rgb(16, 16, 16);
    }
    .dropdown-menu .dropdown-item {
        color: gainsboro;
    }
    .dropdown-menu .dropdown-item:hover {
        background-color: rgb(62, 62, 62);
    }
    #indiv-comment-form > input, textarea {
        background-color:rgb(16, 16, 16);
    }
    hr {
        background-color:rgb(62, 62, 62);
    }
    button {
        background-color: gainsboro;
    }
    .form-control, input {
        background-color:rgb(16, 16, 16);
        color:gainsboro;
    }
    .form-control:not(:placeholder-shown) {
        background-color:rgb(16, 16, 16);
        color:gainsboro;
    }
    .form-control:-webkit-autofill, input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px rgb(16, 16, 16) inset !important;
        -webkit-text-fill-color: gainsboro !important;
        transition: background-color 5000s ease-in-out 0s; /* Adjust the transition time as needed */
    }
    #btn-primary, #reg-button {
        background-color:lightskyblue;
        color:rgb(16, 16, 16);
    }
  }
.listing-page-container {
    margin-top: 15px;
    border-style: hidden;
    display:flex;
    overflow-x:auto;
    column-gap: 30px;
}
#index-container {
    display:flex;
    overflow-x:auto;
    overflow-y:hidden;
    column-gap: 20px;
    scrollbar-width: none; /* Hide scrollbar*/
    margin-top:15px;
}
.index-container::-webkit-scrollbar {
    display: none;
  }
.listing-container {
    flex: 0 0 300px; /* Ensure the flex properties don't override the width */
    height: 550px;
    padding:15px;
    border-style: solid;
    border-width:1px;
    box-sizing: border-box;
    text-align:center;
}
.indiv-listing-container {
    flex: 0 0 510px; /* Ensure the flex properties don't override the width */
    height: 605px;
    padding:15px;
    border-style: solid;
    border-width:1px;
    box-sizing: border-box;
    text-align:center;
}
.below-image-container {
    place-content:center;
    border-style: hidden;
    padding-left:10px;
    padding-right:10px;
    margin-top:60px;
    display:flex;
}
#login-form-container, #reg-form-container {
    width:450px;
    margin-top:10px;
    margin-bottom:10px;
}
.login-reg-container{
    display:grid;
    border-style:ridge;
    width:100%;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
.listing-button-container {
    display:flex;
    flex-wrap: wrap;
    width: 280px;
    column-gap:30px;
    justify-content: right;
}
.side-container {
    border-style:solid;
    padding:15px;
    min-width:510px;
}

.listing-text-container {
    text-align:left;
}
.indiv-listing-text-container {
    text-align:left;
    width: 170px;
}
.listing-description-container {
    height:180px;
    border-style:hidden;
    border-width: 1px;
    overflow-y:scroll;
}
.stats {
    margin-bottom:2px;
}
.indiv-listing-description-container {
    height:180px;
    border-style:hidden;

    padding-left: 15px;
    padding-right: 15px;

    border-width: 1px;
    overflow-y:scroll;

    margin-top:5px;
    margin-bottom: 15px;
}
.comments-container {
    padding:5px;
    height:220px;
    border-style:hidden;
    border-width: 1px;
    overflow-y:scroll;
}
.title {
    text-align:center;
}
.page-image {
    margin-top: 20px;
}
.nav {
    border-style: ridge;
}
hr {
    margin-bottom:5px;
    margin-top:-5px;
}

.inline-form {
    display:inline-flex;
    column-gap: 5px;
}
.inline-form > button {
    flex: none;
    height:fit-content;
}
#indiv-comment-form {
    margin-top:5px;
    margin-bottom:15px;
}
#create-form-container {
    display:grid;
    justify-content:center;
}
#create-btn-container {
    width: 400px;
    display:grid;
    justify-content: right;
    margin-top: -30px;
}