body {
    padding: 10px;
    background-color: white;
    color: black;
}
.dark-mode {
    
    background-color: rgb(16, 16, 16);
    color:gainsboro;
    a {
        color:lightskyblue;
    }
    .dropdown-menu {
        background-color:rgb(16, 16, 16);
    }
    .dropdown-menu .dropdown-item {
        color: gainsboro;
    }
    .dropdown-menu .dropdown-item:hover {
        background-color: rgb(62, 62, 62);
    }
  }
.listing-page-container{
    margin-top: 15px;
    border-style: hidden;
    display:flex;
    overflow-x:auto;
    column-gap: 30px;
}
#index-container{
    display:flex;
    overflow-x:auto;
    overflow-y:hidden;
    column-gap: 20px;
    scrollbar-width: none; /* Hide scrollbar*/
    margin-top:15px;
}
.index-container::-webkit-scrollbar {
    display: none;
  }
.listing-container{
    flex: 0 0 300px; /* Ensure the flex properties don't override the width */
    height: 550px;
    padding:15px;
    border-style: solid;
    border-width:1px;
    box-sizing: border-box;
    text-align:center;
}
.indiv-listing-container{
    flex: 0 0 510px; /* Ensure the flex properties don't override the width */
    height: 605px;
    padding:15px;
    border-style: solid;
    border-width:1px;
    box-sizing: border-box;
    text-align:center;
}
.below-image-container{
    place-content:center;
    border-style: hidden;
    margin-top:60px;
    display:flex;
    column-gap: 70px;
}
.listing-button-container{
    display:grid;
    row-gap: 10px;
    flex-wrap: nowrap;
    border-style: hidden;
}
.side-container {
    border-style:solid;
    padding:15px;
}

.listing-text-container{
    text-align:left;
}
.listing-description-container{
    height:180px;
    border-style:hidden;
    border-width: 1px;
    overflow-y:scroll;
}
.indiv-listing-description-container{
    height:180px;
    border-style:hidden;

    padding-left: 15px;
    padding-right: 15px;

    border-width: 1px;
    overflow-y:scroll;

    margin-top:5px;
    margin-bottom: 15px;
}
.comments-container{
    padding:5px;
    height:220px;
    border-style:hidden;
    border-width: 1px;
    overflow-y:scroll;
}
.title {
    text-align:center;
}
.page-image {
    margin-top: 20px;
}
.nav {
    border-style: ridge;
}
hr {
    margin-bottom:5px;
    margin-top:-5px;
}