{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings in {{ category }}</h2>

    {% for listing in listings %}
        <hr>
        <h3>
            <a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
        </h3>
        <img src={{ listing.image }} alt="an image of this listing" style="width:300px">
        <br>
        <br>
        Category: {{ listing.category }}
        <br>
        Starting bid: {{ listing.starting_bid }}
        <br>
        Current bid:  {{ listing.current_bid }}
        <br>
        <br>
        {{ listing.description }}
        
    {% empty %}

        There are no active listings in this category.

    {% endfor %}
{% endblock %}