{% extends "auctions/layout.html" %}

{% block body %}

    {% if user.is_authenticated %}
    <h2 class="title">Create a Listing</h2>
    <div id="create-form-container">
        <form id="create-form" action="{% url 'create' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <div id="create-btn-container">
                <button id="create-button" type="submit">Post</button>
            </div>
        </form>
        {% else %}
            <h2>Log in to create a listing.</h2>
        {% endif %}
    </div>
{% endblock %}